.form
  %h2 Change your password
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .field
      = f.text_field :username, {placeholder:"username"}
    .field
      = f.email_field :email, {placeholder:"email",autofocus: true, autocomplete: "email"}
    .field
      = f.password_field :password, {autocomplete: "off", placeholder:"password (#{@minimum_password_length} characters minimum)"}
    .field
      = f.password_field :password_confirmation, {autocomplete: "off", placeholder:"password_confirmation"}
    .actions
      = f.button "Change my password"
  = render "devise/shared/links"
