$('#main-text-area').html(
  '<%= j(render partial: 'sections/main-text-area') %>'
);


/*// 1.まず既存のものを消す。
var preChangePosition = '#section_' + '<%= @section.id %>';
$(preChangePosition).remove();


// Section selectの値によってappendする位置を変更。


$('#section-item-area').append(
	'<li id="section_<%= @section.id %>" class="section-item ui-sortable-handle"><a href="/papers/<%= @paperID %>/sections/<%= @section.id %>"><%= @section.title %></a></li>' 
	);*/

$('#section-item-area').html(
  '<%= j(render partial: 'sections/outline-area-update') %>'
);


//追加したことをお知らせするアニメーション
$('#section_<%= @section.id %>').animate({
            fontSize: 25
        }, 300 );

$('#section_<%= @section.id %>').animate({
            fontSize: 16,
        }, 250, function(){
        	$(this).css({
        		color:"red"
        	});
        });