
.container
  %h2{class:"dashboard-title"} Dashboard

  
  
  .paper-create
    %li{class:"paper-item",id:"paper-create-modal-trigger"}     
      %i{class:"fa fa-plus-square"}
      #new-paper-modal-create-show.modal
        = form_for @paper, remote:true do |f|
          =f.text_field :title, {placeholder: "New Paper's Title"}
          =f.hidden_field :user_id, value:current_user.id
          =f.submit 'Create'
  
  .paper-list
    - @papers.each do |paper|
      %li{class:"paper-item"}
        = link_to paper.title, paper_section_path(paper_id:paper.id,id:'new')
        
        = link_to paper_path(paper.id), target:"_blank" do
          %i{class:"fa fa-eye preview"}
    
        %i{class:"fa fa-edit paper-edit"}

        = link_to paper_path(paper.id), method:'delete', data: {confirm:'本当に削除しますか？' }, remote: true do
          %i{class:"fa fa-times"}

        #paper-title-edit-in-dashboard-show.modal
          %p paper titleを修正
          = form_for @paper, url: {controller:"papers", action: "update", id:paper.id}, html:{method:"patch"}, remote: true do |f|
            =f.text_field :title, value: paper.title
            =f.hidden_field :user_id, value:current_user.id
            =f.submit 'save'
          

:javascript
  $('#paper-create-modal-trigger').on('click',function(){
    $('#new-paper-modal-create-show').fadeIn();
  });

  $(document).click(function(e) {
  // クリックした場所がmenu-wrapper(領域内とみなす範囲)に無ければmenuを消す
    if(!$.contains($('.paper-create')[0], e.target)){
      $('#new-paper-modal-create-show').hide();
    }
  });
